* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
body {
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #282756 0%, #0094a7 100%);
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.test__header {
  box-shadow: 10px 1px 20px #4d4f8f;
  color: white;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test__header p {
  font-size: xx-large;
}
.test__form__search,
.test__form__name {
  width: 80%;
  margin: 40px auto 0;
  max-width: 700px;
}
.test__form__search-dropdown li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.test__form__search-dropdown {
  padding: 1rem 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 4px 4px 0px 0px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 0;
  border-style: solid;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.test__form__search-dropdown-icon {
  transition: rotate 0.5s ease-in-out;
}

.test__form__name {
  background: #fff;
  padding: 1rem 20px;
  border-radius: 4px;
}
.test__form__name input {
  margin-top: 1.5rem;
}

.test_form_text {
  color: #fff;
  text-align: center;
  font-size: xx-large;
}

.test__form__search-list {
  display: none;
  padding: 20px;
  background: #fff;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: opacity 300ms ease-out;
  opacity: 0;
  visibility: "hidden";
}

.test__form__search_anim {
  transform-origin: top center;
  animation: growDown 600ms ease-in-out forwards;
}

.test__form__sectors {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  list-style-position: inside;
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 12px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 16px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 16px;
}
.test__form__sectors_sector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 12px;
  cursor: pointer;
  min-height: 36px;
}
.square {
  height: 24px;
  width: 24px;
  background: #ccc;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 400ms ease-in-out;
  /* transition: 300ms ease-out; */
  animation: inAnimationUncheck 250ms ease-in;
}
@keyframes inAnimation {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: 600px;
  }
}
@keyframes inAnimationUncheck {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: 600px;
  }
}
.square:hover {
  transform: scale(1.1);
}

.checked {
  cursor: pointer;
  transition: transform 400ms ease-in;
  animation: inAnimation 250ms ease-in;
}
.checked:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.test__form__sectors p {
  font-size: x-large;
  line-height: 24px;
  font-weight: 400;
  user-select: none;
}

.test__form__terms {
  height: 70px;
}

.test__form__sectors_selected {
  align-content: flex-start;
  flex-wrap: wrap;
}
.test_form {
  margin: 20px 0;
}
.test__form__terms,
.test__form__sectors_selected {
  background: #fff;
  padding: 1rem 20px;
  border-radius: 4px;
  width: 80%;
  margin: 40px auto 0;
  max-width: 700px;

  display: flex;
  align-items: center;
  transition: all 300ms ease;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

input {
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 12px 4px 0;
  border: 0 solid #b3b3b3;
  border-width: 0 0 1.5px 0;
}

input:focus {
  border-width: 0 0 1.5px 0;
  border-color: #4d4f8f;
}

.test__form__button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 40px auto 0;
  background: #bbb;
  padding: 0.75rem 1.5em;
  width: 200px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  transition: opacity 300ms ease-in;
  cursor: pointer;
}
.test__form__button:not([disabled]) {
  background: rgb(93, 167, 240);
  color: #fff;
}

.test__form__button:hover:not([disabled]) {
  opacity: 0.7;
}
